# RewriteEngine On
# RewriteBase /
# AllowOverride All

# # Réécriture pour la modification d'un médecin
# RewriteRule ^medecins/modifier/([0-9]+)$ /controllers/controllerMedecin/ControllerModifyMedecin.php?id=$1 [L]

# # Réécriture pour la suppression d'un médecin
# RewriteRule ^api/medecins/supprimer/([0-9]+)$ /api/controllers/controllerMedecin/ControllerDeleteMedecin.php?id=$1 [L]
