RewriteEngine On
RewriteBase /

# ===================================== MEDECIN =====================================

# Redirection de /api/medecins pour GET vers ControllerGetAllMedecin.php
RewriteCond %{REQUEST_METHOD} ^GET$
RewriteRule ^medecins$ GestionCabinetMedicalBack_end/controllers/controllerMedecin/ControllerGetAllMedecin.php [L]

# Redirection de /api/medecins pour POST vers ControllerAddMedecin.php
RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^medecins$ GestionCabinetMedicalBack_end/controllers/controllerMedecin/ControllerAddMedecin.php [L]

# Redirection de /api/medecins/{id} pour GET vers ControllerGetMedecin.php
RewriteCond %{REQUEST_METHOD} ^GET$
RewriteRule ^medecins/([0-9]+)$ GestionCabinetMedicalBack_end/controllers/controllerMedecin/ControllerGetMedecin.php?id=$1 [L]

# Redirection de /api/medecins/{id} pour DELETE vers ControllerDeleteMedecin.php
RewriteCond %{REQUEST_METHOD} ^DELETE$
RewriteRule ^medecins/([0-9]+)$ GestionCabinetMedicalBack_end/controllers/controllerMedecin/ControllerDeleteMedecin.php?id=$1 [L]

# Redirection de /api/medecins/{id} pour PUT vers ControllerModifyMedecin.php
RewriteCond %{REQUEST_METHOD} ^PATCH$
RewriteRule ^medecins/([0-9]+)$ GestionCabinetMedicalBack_end/controllers/controllerMedecin/ControllerModifyMedecin.php?id=$1 [L]

# ===================================== PATIENT =====================================

# Redirection de /api/patients pour GET vers ControllerGetAllPatient.php
RewriteCond %{REQUEST_METHOD} ^GET$
RewriteRule ^usagers$ GestionCabinetMedicalBack_end/controllers/controllerUsager/ControllerGetAllUsager.php [L]

# Redirection de /api/patients pour POST vers ControllerAddPatient.php
RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^usagers$ GestionCabinetMedicalBack_end/controllers/controllerUsager/ControllerAddUsager.php [L]

# Redirection de /api/patients/{id} pour GET vers ControllerGetPatient.php
RewriteCond %{REQUEST_METHOD} ^GET$
RewriteRule ^usagers/([0-9]+)$ GestionCabinetMedicalBack_end/controllers/controllerUsager/ControllerGetUsager.php?id=$1 [L]

# Redirection de /api/patients/{id} pour DELETE vers ControllerDeletePatient.php
RewriteCond %{REQUEST_METHOD} ^DELETE$
RewriteRule ^usagers/([0-9]+)$ GestionCabinetMedicalBack_end/controllers/controllerUsager/ControllerDeleteUsager.php?id=$1 [L]

# Redirection de /api/patients/{id} pour PUT vers ControllerModifyPatient.php
RewriteCond %{REQUEST_METHOD} ^PATCH$
RewriteRule ^usagers/([0-9]+)$ GestionCabinetMedicalBack_end/controllers/controllerUsager/ControllerModifyUsager.php?id=$1 [L]